.dashboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
.left_bar{
  grid-column: 1 ;
  grid-row: 2 / 5;
  /* outline: 10px dashed blue; */
 }
 .content{ 
  grid-column: 2/-1;
  grid-row: 1 / 9;
  /* outline: 10px dashed red; */
} 
